name: Detect POBR diff

on: [ pull_request ]

concurrency:
  group: detect-pobr-diff-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  detect-pobr-diff:
    uses: dice-group/cpp-conan-release-reusable-workflow/.github/workflows/abi-diff.yml@main
    with:
      os: ubuntu-24.04
      cc: clang-20
      cxx: clang++-20
      cmake-version: 3.24.0
      conan-version: 2.21.0
      base-branch: ${{ github.base_ref }}
      search-path: >
        include/dice/template-library/flex_array.hpp
        include/dice/template-library/integral_template_tuple.hpp
        include/dice/template-library/integral_template_variant.hpp
        include/dice/template-library/standard_layout_tuple.hpp
        include/dice/template-library/variant2.hpp
      abi-version-header: include/dice/template-library/version.hpp
      abi-version-const: dice::template_library::pobr_version
    secrets:
      CONAN_USER: ""
      CONAN_PW: ""
