name: Publish Conan branch package

on: [ push ]

concurrency:
  group: publish-conan-branch-package-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  publish-conan-branch-package:
    uses: dice-group/cpp-conan-release-reusable-workflow/.github/workflows/publish-conan-branch-package.yml@main
    with:
      public_artifactory: true
      os: ubuntu-24.04
      compiler: clang-20
      cmake-version: 3.24.0
      conan-version: 2.21.0
    secrets:
      CONAN_USER: ${{ secrets.CONAN_USER }}
      CONAN_PW: ${{ secrets.CONAN_PW }}

